# Binaries
Binaries/
Build/
Intermediate/
Saved/
DerivedDataCache/



# Content - ignore everything except Blueprints

Content/Assets/
Content/Maps/
Content/Content/Assets/
Content/Content/Maps/
Content/Content/Doors/
Content/Content/Interface/
Content/Content/Notes/
Content/Content/Widgets/

# Ignore raw media
*.uasset
*.umap

# keeps Blueprints
!Content/Content/Blueprints/**/*.uasset

# IDE & OS
.vscode/
.idea/
*.suo
*.sln
*.opensdf
Thumbs.db
.DS_Store

# Crash reports
CrashReportClient/